.users-table {
    border-collapse: collapse;
    margin: 25px 0 25px 25px;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
}

.users-table thead tr {
    background-color: #016c57;
    color: #ffffff;
    text-align: left;
}

.users-table th,
.users-table td {
    padding: 12px 15px;
}

.users-table tbody tr {
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
    color: #fefefe;
}
.users-table tbody tr:nth-of-type(odd) {
    background-color: #7c7c7c;
}
.users-table tbody tr:nth-of-type(even) {
    background-color: #a8a6a6;
}
.users-table tbody tr:hover {
    background-color: #049683;
    color: #ffffff;
}

.users-table tbody tr.user-selected {
    background-color: #049683;
    color: #ffffff;
}

.users-table tbody tr:last-of-type {
    border-bottom: 2px solid #016c57;
}
