.posts-panel {
    margin-right: 25px;
    background: #3a3a3a;
    border: 1px solid #016c57;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 550px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.posts-panel-header {
    padding: 1.25rem;
    border-bottom: 1px solid #016c57;
    background: #424242;
}

.loading-posts {
    padding: 50% 0;
    text-align: center;
}

.posts-panel-header-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.close-btn {
    border: 1px solid #016c57;
    background: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px
}

.close-btn:hover {
    background: #016c57;
    color: white;
}

.no-posts {
    text-align: center;
    color: white;
    padding-top: 50%;
}

.posts-panel-header-title h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #e8e8e8;
}

.posts-panel-header-meta {
    margin: 0;
    font-size: 13px;
    color: #b0b0b0;
}

.posts-container {
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Scrollbar styling */
.posts-container::-webkit-scrollbar {
    width: 6px;
}

.posts-container::-webkit-scrollbar-track {
    background: transparent;
}

.posts-container::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 3px;
}

.posts-container::-webkit-scrollbar-thumb:hover {
    background: #999999;
}
